<script>
    $(document).ready(function () {
        $('#label-leader').text("Plan and Pricing");
//        alert($('#current_role').val());
        $('.pricing-box#planbox' + $('#current_role').val()).remove();
    });
</script>
<script>
    $(function () {
        $('#downgrade-to-free-plan-btn').click(function () {
//            alert('alert msg');
            $('#plan-options').removeAttr();
        });

    });
</script>

<br/>
<h4>Need to update billing
  information? <%= link_to 'Update here', users_edit_billing_path, :class => 'btn btn-primary' %></h4>
<br/>
<hr class="divider">

<h4>Your currently subscription plan: <%= @current_user_role_name.titleize %></h4>
<br/>
<h4>Change plan?</h4>
<%= hidden_field_tag :current_role, @current_user_role_id, :id => "current_role" %>
<div class="row span10 plans">
  <div class="pricing-box span4" id="planbox2">
    <div class="pricing-padding">
      <h2>Free </h2>
      <ul>
        <li>$0/month</li>
        <li>Encryption : Standard</li>
        <li>Limited : 1 Package</li>
      </ul>
      <br/>
      <%
         label = 'Downgrade'
         message = "Note: Free plan limited only 1 package, if you downgrade to free plan, some older packages may be deleted \n\n  Are you sure to continue?"
      %>
      <%= link_to label, update_plan_path(:role_ids => 2), :class => 'btn btn-danger', :id => "downgrade-to-free-plan-btn", :data => {:confirm => message}, :method => :put %>
    </div>
  </div>
  <div class="pricing-box span4" id="planbox3">
    <div class="pricing-padding">
      <h2>Small </h2>
      <ul>
        <li>$5/month</li>
        <li>Encryption : Standard</li>
        <li>Limited : 3 Packages</li>
      </ul>
      <br/>
      <%
         label = ""
         message = ""
         if @current_user_role_id > 3
           label = 'Downgrade'
           message = "Note: Small plan limited 3 packages, if you downgrade to this plan, some older packages may be deleted !\n\n  Are you sure to continue?"
         else
           label = 'Upgrade'
           message = "Small Plan : with $5/month\n Are you sure ?"
         end
      %>
      <%= link_to label, update_plan_path(:role_ids => 3), :class => 'btn btn-primary', :method => :put, :data => {:confirm => message} %>


    </div>
  </div>
  <div class="pricing-box span4" id="planbox4">
    <div class="pricing-padding">
      <h2>Medium </h2>
      <ul>
        <li>$10/month</li>
        <li>Encryption : Standard</li>
        <li>Limited : 10 Packages</li>
      </ul>
      <br/>
      <%
         label = ""
         message = ""
         if @current_user_role_id > 4
           label = 'Downgrade'
           message = "Note: Medium plan limited 10 packages, some older packages may be deleted if you downgrade to this plan !\n\n Are you sure to continue?"
         else
           label = 'Upgrade'
           message = "Medium Plan with $10/month\n Are you sure to continue?"
         end
      %>
      <%= link_to label, update_plan_path(:role_ids => 4), :class => 'btn btn-primary', :method => :put, :data => {:confirm => message} %>
    </div>
  </div>
  <div class="pricing-box span4" id="planbox5">
    <div class="pricing-padding">
      <h2>Large </h2>
      <ul>
        <li>$15/month</li>
        <li>Encryption : Custom key</li>
        <li>Limited : 30 Packages</li>
      </ul>
      <br/>
      <%
         label = 'Upgrade'
         message = "Large Plan with $15/month\n Are you sure to continue?"
      %>
      <%= link_to label, update_plan_path(:role_ids => 5), :class => 'btn btn-primary', :method => :put, :data => {:confirm => message} %>
    </div>
  </div>
</div>

<% if false %>
    <h3>Subscription Plan</h3>

    <p>
      <%= current_user.roles.first.name.titleize %>
      <%= link_to "Change plan", "#plan-options", class: "btn btn-primary", data: {toggle: "modal"} %>
    </p>
<% end %>

<div id="plan-options" class="modal" style="display: none; ">
  <%= simple_form_for resource, as: resource_name, url: update_plan_path, html: {method: :put, class: 'form-horizontal'} do |f| %>
      <br>
      <h5> If you downgrade your subscription to Free, all packages will be destroy</h5>

      <h3> Confirm </h3>
      <% if false %>
          <div class="modal-header">
            <%= link_to "&#215;".html_safe, "#", class: "close", data: {dismiss: "modal"} %>
            <h3>Change Plan</h3>
          </div>
          <div class="modal-body">
            <%= f.input :role_ids, collection: Role.all.delete_if { |i| i.name == 'admin'|| i.name == current_user.roles.first.name }, as: :radio_buttons, label_method: lambda { |t| t.name.titleize }, label: false, item_wrapper_class: 'inline', checked: resource.role_ids.first %>
          </div>
      <% end %>
      <div class="modal-footer">
        <%= f.submit "Update Plan", class: "btn btn-primary", :disabled => true %>
        <%= link_to "Close", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
  <% end %>
</div>





