<div class="pageBody">
  <div class="container">
    <div class="whitebox wizard">
      <div class="row-fluid">
        <% if @ok %>
            <h2> Package information </h2>

            <% if @package.custom_key %>
                <p>Note: All items in the package has been encrypted using AES-ECB with 256 bits key.</p>
            <% end %>
            <li> Name: <%= @package.name %></li>
            <li> Created at: <%= @package.created_at.to_date %></li>
            <li> Description: <%= @package.description %></li>

            <% if @package.items.empty? %>
                <p> The package does not have any items !</p>
            <% else %>
                <li> Have <%= @package.items.count %> items</li>
                <br/>

                <table class ="table table-bordered table-hover">
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Download</th>
                  </tr>
                  <% @package.items.each do |item| %>
                      <tr>
                        <td><%= item.name %></td>
                        <td><%= item.description %></td>
                        <td><%= ItemType.find(item.item_type).name %></td>
                        <td>
                          <% if item.item_type == 1 %>
                              <%= link_to 'Download as text file', "/recipient/download_item?code=#{@package.verify_recipient_code}-#{item.id}" %>
                          <% else %>
                              <%= link_to 'Download', "/recipient/download_item?code=#{@package.verify_recipient_code}-#{item.id}" %>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                </table>
                <%= link_to 'Delete the package!', "/recipient/delete?code=#{@package.verify_recipient_code}", :class => 'btn btn-danger', data: {confirm: 'Are you sure you want to permanently delete the package?'} %>
            <% end %>
        <% else %>
            <h1> Not found !</h1>
        <% end %>
      </div>
    </div>
  </div>
</div>
