<script type="text/javascript">
    $(document).ready(function () {
        $('.item').click(function () {
            var type = $(this).data('value');
            var tmp = type + "";
            tmp = tmp.toLowerCase().replace(/\b[a-z]/g, function (letter) {
                return letter.toUpperCase();
            });
            $('#item-type-title').text(tmp);
            $.each($('#listitems').children('.item'), function () {
                $(this).removeClass('selected');
            });
            $(this).addClass('selected');
            $('#type').val(type);

            if (type === "file" || type === "image") {
                $('#item_file_type').show();
                $('#item_note_type').hide();
            } else {
                $('#item_file_type').hide();
                $('#item_note_type').show();
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#label-leader').text("Create new item");
    });
</script>
<div class="ptl">
  <h5> <%= link_to "< Back to package", package_path(@package) %>     </h5>

  <div id="chooseItemKind">
    <div id="listitems">
      <h2>Please Select Item Type</h2>

      <div class="item selected" data-value="text">
        <div class="item-inner text"><a href="javascript: void(0)"><span class="title">Text Note</span></a></div>
      </div>
      <div class="item" data-value="file">
        <div class="item-inner zip"><a href="javascript: void(0)"><span class="title">File (zip | other extension)</span></a></div>
      </div>
      <div class="item" data-value="image">
        <div class="item-inner image"><a href="javascript: void(0)"><span class="title">Image</span></a></div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="spacing ptl"></div>
  <hr class="divider"/>

  <h2 id="item-type-title">Text</h2>
  <hr class="divider"/>
  <div id="addttem">
    <%= form_for [@package, @item], :class => "create_new_item_frm", :enctype => "multipart/form-data" do |f| %>
        <%= hidden_field_tag :type, "text", :class => "item_type_selected" %>
        <div class="control-group">
          <label class="control-label">Name</label>
          <div class="controls">
            <%= f.text_field :name, :class => "input-block-level", :required => true %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Description</label>

          <div class="controls">
            <%= f.text_area :description, :class => "input-block-level", :rows => 2 %>
          </div>
        </div>
        <div class="control-group" id="item_note_type">
          <label class="control-label">Content</label>

          <div class="controls">
            <%= f.text_area :text_content, :class => "input-block-level", :rows => 5 %>
          </div>
        </div>
        <div class="control-group" id="item_file_type">
          <div class="controls">
            <%= f.file_field :file, :class => "btn btn-large btn-success" %>
            <!-- accept: 'image/png,image/gif,image/jpeg' -->
          </div>
        </div>
        <% if @package.custom_key %>
            <div class="control-group">
              <label class="control-label">Encryption key</label>

              <div class="controls">
                <%= f.text_field :aes_key, :class => "input-block-level", :placeholder => "must be 32 characters length", :required => true %>
              </div>
            </div>
        <% end %>

        <div class="control-group">
          <hr class="divider"/>
          <div class="spacing ptl"></div>
          <div class="row-fluid">
            <div class="span6 offset3">
              <button type="submit" class="btn btn-primary btn-block"><i class="icon-save mrm"></i>Create Item</button>
            </div>
          </div>
        </div>
    <% end %>
  </div>


</div>
