<script>
    $(document).ready(function () {
        $('#label-leader').text("View Item");
    });
</script>
<div id="dashbody_items">
  <div class="dashbodyHead">
    <div class="row-fluid">
      <div class="span9">
        <h5><a href="<%= package_path(@package)%>" class="btn btn-mini"><i class="icon-chevron-left"></i> Back to package</a></h5>

<%#*<div class="tipbox"><i class="icon-info-sign pull-left"></i>%>
<%#*<p class="pll">%>
<%#*Click change view in right side to see more detail information of items. Click in item icon to%>
<%#*view items inside.%>
<%#*</p>%>
<%#*</div>%>
        <div class="spacing pal"></div>
        <div class="packagedetail clearfix">
          <div class="package pull-left">
            <%
               css_class = ""
               case @item.item_type
                 when 1
                   css_class = "text"
                 when 2
                   css_class = "zip"
                 when 3
                   css_class = "image"
               end
            %>
            <div id="listitems" class="clearfix">
              <div class="item">
                <div class="item-inner <%= css_class %>">
                </div>
              </div>
            </div>
          </div>
          <div class="packageinfo"><a class="packtitle"><%= @item.name %></a>
            <ul class="unstyled">
              <li> <a href="<%= edit_package_item_path %>" class="btn btn-mini"><i class="icon-edit"></i> Edit</a> </li>
              <li><span>Package: <%= @package.name %></span></li>

              <li><span>Created at:  <%= @item.created_at %></span></li>
              <li><span>Type:  <%= ItemType.find(@item.item_type).name %></span></li>

              <% if @item.item_type == 1 %>
                  <% if @package.custom_key %>
                      <li><span>Content: (Encrypted) </span></li>
                  <% else %>
                      <li><span>Content: <%= @text_content_decrypted %> </span></li>
                  <% end %>

              <% else %>
                  <li><span>File name: <%= @item.file_name %> </span></li>
                  <% if !@package.custom_key %>
                      <li><span><%= link_to 'Download decrypted file', download_item_path(@package, @item) %>  </span>
                      </li>
                  <% else %>
                      <li><span><%= link_to 'Download encrypted file', download_item_path(@package, @item) %>  </span>
                      </li>
                  <% end %>

              <% end %>
              <li><%= button_to "Delete", nil, :method => :delete, :class => "btn-danger btn-small", data: {confirm: 'Are you sure?'} %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>